mixin projectForm(edit)
  div.itemFormContainer
    div(class=`itemForm ${edit ? 'editMode' : 'viewMode'}`)

mixin bugForm(edit)
  div.itemFormContainer
    div(class=`itemForm ${edit ? 'editMode' : 'viewMode'}`)

mixin messageForm(edit)
  div.itemFormContainer
    form(class=`itemForm ${edit ? 'editMode' : 'viewMode'}` action="" id="subscriberForm")
      input(type="hidden" value=`${csrfToken}` name="_csrf" hidden)
      div.mainInputs
        div.form-group
          label Sender
          input(id="m-sender" class="entry" type="name" name="sender" value=message.sender required disabled=!edit)
        div.form-group
          label Created Date
          input(id="m-created" class="entry" type="date" value=message.createdDate name="createdDate" required disabled)
        div.form-group
          label Last Update
          input(id="m-updated" class="entry" type="date" value=message.lastUpdate name="lastUpdate" required)
        div.form-group
          label Subject
          input(id="m-subject" class="entry" type="text" value=message.subject name="subject" required)
        div.form-group
          label E-mail
          input(id="m-email" class="entry" type="email" value=message.email name="email" required)
        div.form-group
          label Message
          textarea(cols="30", rows="10" id="m-messsage" class="entry" type="text" value=message.message name="message" required)
        div.form-group
          label IP
          input(id="m-ip" class="entry" type="text" maxlength="20" value=message.ip name="ip" required)
        div.form-group
          label Source  
          input(id="m-source" class="entry" type="text" maxlength="20" value=message.source name="source" required)
      fieldset.switches
        div.form-group
          label Valid
          input(id="m-valid" class="switch" type="checkbox" checked=message.valid name="valid" required)
        div.form-group
          label Read
          input(id="m-read" class="switch" type="checkbox" checked=message.read name="read" required)
        div.form-group
          label Important
          input(id="m-important" class="switch" type="checkbox" checked=message.important name="important" required)
        div.form-group
          label Replied
          input(id="m-replied" class="switch" type="checkbox" checked=message.replied name="replied" required)
      div.buttonContainer.clicky
        button(id="submitItem" type="submit" class="btn") Send
        div#contactToast.toast

mixin subscriberForm(edit)
  div.itemFormContainer
    form(class=`itemForm ${edit ? 'editMode' : 'viewMode'}` action="" id="subscriberForm")
      input(type="hidden" value=`${csrfToken}` name="_csrf" hidden)
      div.mainInputs
        div.form-group
          label E-mail
          input(id="sub-email" class="entry" type="email" name="email" value=subscriber.email required disabled=!edit)
        div.form-group
          label Created Date
          input(id="sub-created" class="entry" type="date" value=subscriber.createdDate name="createdDate" required disabled)
        div.form-group
          label Last Update
          input(id="sub-updated" class="entry" type="date" value=subscriber.lastUpdate name="lastUpdate" required disabled=!edit)
        div.form-group
          label IP
          input(id="sub-ip" class="entry" type="text" maxlength="20" value=subscriber.ip name="ip" required disabled=!edit)
        div.form-group
          label Source
          input(id="sub-source" class="entry" type="text" maxlength="20" value=subscriber.source name="source" required disabled=!edit)
      fieldset.switches
        div.form-group
          label Valid
          input(id="sub-valid" class="switch" type="checkbox" checked=subscriber.valid name="valid" required disabled=!edit)
        div.form-group
          label Active
          input(id="sub-active" class="switch" type="checkbox" checked=subscriber.active name="active" required disabled=!edit)
      div.buttonContainer.clicky
        button(id="sub-submit" type="submit" class="btn") Send
        div#contactToast.toast


