mixin itemControlBar(edit, title, _id)
  div.controlBar
    div.cb-section
      div.left
        div.buttonContainer.clicky
          button(id=`${edit ? 'UpdateButton' : 'EditButton'}` class=`btn ${edit ? 'edit' : 'view'}` item=_id)= `${edit ? 'Update' : 'Edit'}`
      div.center
        div.cb-title= title
        div.cb-id= _id
      div.right
        div.buttonContainer.clicky
          button(class=`btn delete`) Delete