
mixin socialItem(sI)
  div.socialIcon
    a(href=sI.link)
      span(class=`${sI.icon} white`)

mixin skill(s)
  div.skill
    div.imgContainer
      img(src=`./myImages/${s.image}`)
    div.skillText
      p=s.skill

mixin serviceItem(sI)
  p=sI

mixin project(p)
  .grid-item
    img(src=p.image)
    +projectOverlay(p)

mixin projectOverlay(p)
  figcaption.imgInfo.cf
    div.text
      h4=p.heading
      p=p.author
    a(href=p.link)
      button.btn.clicky View

mixin projectDetail(p)
  div(id=p.heading.toLowerCase().replace(' ','') class="gallerySlide out-right")
    div.imgContainer
      div.btn.ion-md-close.close-project
      img(src=p.image)
    div.projectDetail
      h2=p.heading
      for text in p.detail
        p=text

mixin subpageHeader()
  div.sc-header
    div.sc-header-content
      if location === 'admin-login'
        h2 Administration - Login
      else if location === 'admin'
        h2 Administration
      else
        h2=location
      //- This functionality is yet to be completed -//
        i(class=`${filtered ? 'ion-md-funnel' : 'ion-ios-funnel-outline' }`)
        i(class=`${list ? 'ion-ios-menu' : 'ion-ios-menu-outline'}`)
        i(class=`${block ? 'ion-ios-grid' : 'ion-ios-grid-outline'}`)

mixin subpageList(projects)
  div.sc-list-container
    div#sc-list-filter.sc-list-filter
    div#sc-list-tags.sc-list-tags
    div#sc-list
      for p in projects
       +subpageItem(p)

mixin subpageItem(p)
  div.sc-paper
    div.sc-image
      img(src=p.mainPicture)
    div.sc-detail
      div.sc-background
      div.content-container
        div.sc-item-header
          h4= p.title
        div.sc-item-summary
          p= p.miniDetail
        div.sc-item-controls
          div.left-controls
            a(href=`${prod ? p.link : p.devlink}`)
              span(data-tooltip="View Project" data-tooltip-position="top")
                i.ion-md-eye
          div.right-controls
            a(href=p.git)
              span(data-tooltip="View Source Code" data-tooltip-position="top")
                i.ion-logo-octocat
            //-
              a(href=`#gallery-${p._id}`)
                span(data-tooltip="More Information" data-tooltip-position="top")
                  i.ion-md-information

mixin projectFloat()
  div.project-mam-float
    div.top
    div.controls
      a(href="/")
        div(id="smallLogo" class='imgContainer red')

mixin blogPost(b)
  h2 Blog Post