section(id="navigation" class=`navigation ${location === 'home' ? 'home' : ''}`)
  // Hamburger menu - hidden on widescreen
  div(id="menu-icon")
    span
    span
    span
  div.items.top
    div#home-nav.item
      a(href="/")
        h3(class=`itemTitle ${location === 'home' ? 'red' : ''}` ) Project MaM
        div(id="smallLogo" class=`imgContainer ${location === 'home' ? 'red' : ''}`)
    div#projects-nav.item
      a(href="/projects")
        h3(class=`itemTitle ${location === 'projects' ? 'red' : '' }`) Projects
        div(class=`imgContainer ${location === 'projects' ? 'red' : '' }`)
          i.ion-ios-folder
    div#blogs-nav.item
      a(href="/blog")
        h3(class=`itemTitle ${location === 'blog' ? 'red' : '' }`) Blog
        div(class=`imgContainer ${location === 'blog' ? 'red' : '' }`)
          i.ion-ios-paper
  div.items.bottom
    if admin === true
      div#gotoDashboard(class=`item`)
        a(href="/admin")
          h3.itemTitle Dashboard
          div.imgContainer
            i.ion-md-apps
      div#gotoMessages(class=`item`)
        a(href="/admin/projects")
          h3.itemTitle Projects
          div.imgContainer
            i.ion-md-bookmarks
      div#gotoMessages(class=`item`)
        a(href="/admin/messages")
          h3.itemTitle Messages
          div.imgContainer
            i.ion-md-chatboxes
      div#gotoMessages(class=`item`)
        a(href="/admin/bugs")
          h3.itemTitle Bugs
          div.imgContainer
            i.ion-md-bug
      div#gotoMessages(class=`item`)
        a(href="/admin/subscribers")
          h3.itemTitle Subscribers
          div.imgContainer
            i.ion-md-archive
      div#logout(class=`item logout`)
        a(href="/logout")
          h3.itemTitle Log out
          div.imgContainer
            i.ion-md-exit
    div#contact-nav(class=`item ${logout}`)
      a(href="/#contact-name" class=`${location === 'home' ? 'red' : '' }`)
        h3.itemTitle Contact
        div.imgContainer
          i.ion-ios-megaphone
    div#bug-report.item
      a(href="#")
        h3.itemTitle Report Bug
        div.imgContainer
          i.ion-ios-bug

section.bug-reporter
  div.br-container
    h1 Call the #[span Exterminator!]
    p Please let me know if you experience any issues with my site 
    div.bugform.contact
      form(class="form-group" action="" id="bugReporter")
        input(type="hidden" value=`${csrfToken}` name="_csrf" hidden)
        div.mainInputs
          div.formSide.left
            input(id="bug-name" class="entry" type="text" placeholder="Name" name="name" required)
            input(id="bug-email" class="entry" type="email" placeholder="Email" name="email" required)
          div.formSide.right
            textarea(id="bug-message" class="entry" type="text" placeholder="Bug description" name="message" rows="4" maxlength="600" required)
        div.clicky
          button(type="submit" class="btn") Send
          div#bugToast.toast
      
    